* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../assets/img/bg-gradient.png');
    background-size: contain;
    background-repeat: repeat-x;
    height: 100vh;
    /**/
}

.fit {
    width: 50%;
    height: 1000px;
    margin: 2% auto;
    position: relative;
}

.section {
    width: 1200px;
    height: 650px;
    margin: 2% auto;
    position: relative;
    background-color: white;
    margin-top: 20px;
}

.blank {
    background-color: #8e1300;
    height: 10px;
    width: 100%;
}

.contact {
    background-color: #c4c4c4;
    height: 40px;
    width: 100%;
}

.logins {
    height: 180px;
    width: 90%;
    background-color: white;
    padding-left: 10px;
}

.side {
    float: left;
}

#pic {
    margin-top: 20px;
    height: 50%;
    object-fit: contain;
}

.p {
    margin-left: 820px;
    padding-top: 40px;
}

.four {
    width: 100%;
    height: 50px;
    background-color: #4f5d63;
}

a:link,
a:visited {
    color: white;
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: #990000;
}

.standby {
    background-color: #8e1300;
    text-align: center;
}

.b {
    padding: 8px;
    margin-left: 2px;
}

.end {
    background-color: white;
    width: 100%;
}

.manquee {
    background-color: black;
    height: 5px;
    width: 100%;
}

.center {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main {
    width: 380px;
    /*height: 420px;*/
    margin: 4% auto;
    position: relative;
    background: #fff;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 6px solid #dfe0d8;
}

.main h2 {
    /*margin:4% auto;*/
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #61555A;
}

.fill {
    width: 320px;
    height: 190px;
    margin: 4% auto;
    position: relative;
    background: #eee;
    padding: 15px;
    margin-top: 0;
}

.button-box {
    width: 250px;
    margin-left: 140px;
    position: relative;
}

.btn {
    background: transparent;
    outline: none;
    border: 0;
    margin-left: 90px;
    color: #262626;
    padding: 2px;
}

.lbutton {
    width: 315px;
    margin: 10px auto;
    padding: 5px;
    margin-left: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    color: white;
    /* text-transform: uppercase; */
    background: #8e1300;
}

.form-info {
    top: 10px;
    position: absolute;
    padding-left: 6px;
    width: 300px;
}

.checkbox {
    margin-left: 18px;
    margin-right: 5px;
}

span {
    color: #777;
    font-size: 12px;
}

.input-field {
    width: 100%;
    padding: 10px 5px;
    margin: 15px;
    border: 0;
    outline: none;
}

#student {
    left: 0px;
}

.error-container {
    background-color: #EEDBD9;
    color: #8e1300;
    width: 350px;
    margin: 4% auto;
    margin-bottom: 0;
    /* min-height: 30px; */
    text-indent: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    /* padding-left: 10px; */
}