*{
  margin: 0;
  padding: 0;
  font-family: "segoe UI bold", sans-serif;
}
body{

	background:url('img/bg-gradient.png');
	background-size: contain;
	background-repeat: repeat-x;
	height:100vh;
  /**/
}

.fit{
	width: 50%;
	height: 1000px;
	margin:2% auto;
	position: relative;
}


.section{
	width: 1200px;
	height: 650px;
	margin: 2% auto;
	position: relative;
	background-color: white;
	margin-top: 20px;
}
.blank{
	background-color: #8e1300;
	height: 10px;
	width: 100%;
}
.contact{
	background-color: #c4c4c4;
	height: 40px;
	width: 100%;
}

.logins{



	height: 180px;
	width: 90%;
	background-color: white;
	padding-left: 10px;
}
.side{
	float: left;
}
#pic{
	margin-top:20px;
	height: 50%;
	object-fit: contain;}

.p{
	margin-left: 820px;
	padding-top: 40px;
}

.four{
	width: 100%;
	height:50px;
	background-color: #4f5d63;

}


a:link, a:visited {

    color: white;
    padding: 16px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
 a:hover {
   background-color: #990000;

}

.standby{
	background-color: #8e1300;
	text-align: center;

 }

 .b{
 	padding: 8px;
 	margin-left:2px;
 }
 .end{
 	background-color: white;
 	height: 30px;
 	width: 100%;
 }

 .showSlide {  
	display: none  
}  
	.showSlide img {  
		width: 100%;  
	}  
.slidercontainer {  
	height: 900px; 
	position: relative;  
	margin: auto;  
}  
.left, .right {  
	cursor: pointer;  
	position: absolute;  
	top: 50%;  
	width: auto;  
	padding: 16px;  
	margin-top: -22px;  
	color: white;  
	font-weight: bold;  
	font-size: 18px;  
	transition: 0.6s ease;  
	border-radius: 0 3px 3px 0;  
}  
.right {  
	right: 0;  
	border-radius: 3px 0 0 3px;  
}  
	.left:hover, .right:hover {  
		background-color: rgba(115, 115, 115, 0.8);  
	}  
.content {  
	color: #eff5d4;  
	font-size: 30px;  
	padding: 8px 12px;  
	position: absolute;  
	top: 10px;  
	width: 100%;  
	text-align: center;  
}  
.active {  
	background-color: #717171;  
}  
/* Fading animation */  
.fade {  
	-webkit-animation-name: fade;  
	-webkit-animation-duration: 1.5s;  
	animation-name: fade;  
	animation-duration: 1.5s;  
}  
@-webkit-keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}  

@keyframes fade {  
	from {  
		opacity: .4  
	}  
	to {  
		opacity: 1  
	}  
}  

	/* Slideshow container 
height: 800px;
	position:relative;
	margin: auto;
  }
  
  
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size 
  @media only screen and (max-width: 300px) {
	.text {font-size: 11px}
  }*/}

  [data-component="slideshow"] .slide {
    display: none;
  }

  [data-component="slideshow"] .slide.active {
    display: block;
  }

 .center{
 	width: 150px;
 	height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;

 }

.main{
	width:380px;
	/*height: 420px;*/
	margin:4% auto;
	position: relative;
	background:#fff;
	margin-top: 10px;
	padding-top:50px;
	padding-bottom:10px;
	padding-left: 10px;
	padding-right: 10px;
	border: 6px solid #dfe0d8;
}
.main h2{
	/*margin:4% auto;*/
	text-align: center;
}
.fill{
	width:320px;
	height: 240px;
	margin:4% auto;
	position: relative;
	background:#eee;

	padding: 15px;
}




.button-box{
	width: 250px;
	margin-left:140px ;
	position: relative;
	}

.btn{
	background:transparent;
	outline: none;
	border: 0;
	margin-left:90px;
	color: #262626;
	padding: 2px;
}
.lbutton{
	width: 315px;
	margin: 10px auto;
	padding:5px;
	margin-left: 10px;
	border:none;
	text-align: center;
	cursor: pointer;
	font-size: 17px;
	color: white;
	text-transform: uppercase;
	background: #8e1300;
}

.form-info{
	top:40px;
	position: absolute;
	padding-left: 6px;

	width: 300px;
}
.checkbox{
	margin-left: 18px;
	margin-right:5px;


}

span{
	color: #777;
	font-size: 12px;
}

.input-field{
	width: 100%;
	padding: 10px 5px;
	margin: 15px;
	border: 0;



}
#student{
	left:0px;
}
#staff{
	left:350px;
}
